* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  background-color: hsla(0, 45.23%, 97.57%, 0.06);
}

.flex-container:small {
  flex-direction: column;
}